entrypoint = "main.py"
modules = ["nodejs-20", "python-3.11"]

[nix]
channel = "stable-25_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "regler_github.py"]
deploymentTarget = "cloud"

[agent]
expertMode = true

[userenv]

[userenv.shared]
SUPABASE_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imxna3BwYm5meHFwbW1zenBoenR6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjUzNjMxNTgsImV4cCI6MjA4MDkzOTE1OH0.RdAorz9nFpOeSCi6sE0zc1GdO6RnznHuz4km7A1qjEI"
SUPABASE_URL = "https://lgkppbnfxqpmmszphztz.supabase.co"

[[ports]]
localPort = 3000
externalPort = 3000

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Flask App"

[[workflows.workflow]]
name = "Flask App"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"
waitForPort = 3000

[workflows.workflow.metadata]
outputType = "console"
